{% extends "base.html" %}

{% block head %}
    <title>Homepage</title>
{% endblock %}

{% block body %}
<h1>Students</h1>

<p><ul> {% for fname, lname, github in students %}
    <li><a href="/student?github={{github}}">{{fname}} {{lname}}</a></li>
    {% endfor %}</ul></p>

<h1>Projects</h1>

<p><ul> {% for (title,) in projects %}
    <li><a href="/project?title={{title}}">{{title}}</a></li>
    {% endfor %}</ul></p>

<h1>Assign a grade</h1>
<p><a href="/add-grade">Assign a new grade to a student</a></p>

{% endblock %}