<!doctype html>
<html>
<head>
    <title>Add new projects</title>
</head>

<body>

<form action="/new-project" method="POST">
    <label>Enter new project title: 
        <input type="text" name="title">
    </label><br>
        <label>Enter new project description: 
        <input type="textarea" name="description">
    </label><br>
        <label>Enter max grade: 
        <input type="number" name="max_grade">
    </label><br>
    <input type="submit" value="Add Project">
</form>

</body>
</html>